<h1>Patients Appointments</h1>

<div class="m-3 d-flex justify-content-center"  >
<!--     <ejs-schedule class=""
    dateFormat='dd-MM-yyyy'
    [eventSettings]='eventSettings'
    [selectedDate]='selectedDate'
    [showWeekend] = 'false'
    currentView='WorkWeek'
    width='80%' height='100%'
    startHour="9:00" endHour="20:00"> 

    <ng-template #cellHeaderTemplate let-data>
		<div class="date-text">Hola Patata</div>
	</ng-template>
   </ejs-schedule> -->

   <div class="control-section">
    <ejs-schedule width='100%' height='100%' [selectedDate]="selectedDate" [eventSettings]="eventSettings"
     [(currentView)]="currentView" startHour="9:00" endHour="20:00"
        (eventRendered)="oneventRendered($event)">
        <e-views>
            <e-view option="Month"></e-view>
            <e-view option="Week"></e-view>
        </e-views>
    </ejs-schedule>
</div>


